# Importing libraries

In [1]:
!pip install fastai2

Requirement already satisfied: fastai2 in c:\users\dell\miniconda3\lib\site-packages (0.0.30)
Requirement already satisfied: fastprogress>=0.2.4 in c:\users\dell\miniconda3\lib\site-packages (from fastai2) (1.0.0)
Requirement already satisfied: fastcore>=0.1.34 in c:\users\dell\miniconda3\lib\site-packages (from fastai2) (0.1.35)
Requirement already satisfied: pandas in c:\users\dell\miniconda3\lib\site-packages (from fastai2) (0.25.3)
Requirement already satisfied: torchvision>=0.7 in c:\users\dell\miniconda3\lib\site-packages (from fastai2) (0.9.0)
Requirement already satisfied: scipy in c:\users\dell\miniconda3\lib\site-packages (from fastai2) (1.2.1)
Requirement already satisfied: matplotlib in c:\users\dell\miniconda3\lib\site-packages (from fastai2) (3.3.4)
Requirement already satisfied: pillow in c:\users\dell\miniconda3\lib\site-packages (from fastai2) (7.1.2)
Requirement already satisfied: scikit-learn in c:\users\dell\miniconda3\lib\site-packages (from fastai2) (0.21.1)
Requirement already satisfied: pip in c:\users\dell\miniconda3\lib\site-packages (from fastai2) (20.3.3)
Requirement already satisfied: requests in c:\users\dell\miniconda3\lib\site-packages (from fastai2) (2.25.1)
Requirement already satisfied: torch>=1.6.0 in c:\users\dell\miniconda3\lib\site-packages (from fastai2) (1.8.0)
Requirement already satisfied: pyyaml in c:\users\dell\miniconda3\lib\site-packages (from fastai2) (5.3.1)
Requirement already satisfied: packaging in c:\users\dell\miniconda3\lib\site-packages (from fastai2) (20.4)
Requirement already satisfied: spacy in c:\users\dell\miniconda3\lib\site-packages (from fastai2) (3.0.5)
Requirement already satisfied: dataclasses in c:\users\dell\miniconda3\lib\site-packages (from fastcore>=0.1.34->fastai2) (0.8)
Requirement already satisfied: numpy in c:\users\dell\miniconda3\lib\site-packages (from fastcore>=0.1.34->fastai2) (1.19.5)
Requirement already satisfied: typing-extensions in c:\users\dell\miniconda3\lib\site-packages (from torch>=1.6.0->fastai2) (3.7.4.3)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\miniconda3\lib\site-packages (from matplotlib->fastai2) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\miniconda3\lib\site-packages (from matplotlib->fastai2) (1.3.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\dell\miniconda3\lib\site-packages (from matplotlib->fastai2) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\dell\miniconda3\lib\site-packages (from matplotlib->fastai2) (2.8.1)
Requirement already satisfied: six in c:\users\dell\miniconda3\lib\site-packages (from cycler>=0.10->matplotlib->fastai2) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\dell\miniconda3\lib\site-packages (from pandas->fastai2) (2020.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dell\miniconda3\lib\site-packages (from requests->fastai2) (1.26.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\miniconda3\lib\site-packages (from requests->fastai2) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\dell\miniconda3\lib\site-packages (from requests->fastai2) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\dell\miniconda3\lib\site-packages (from requests->fastai2) (2.9)
Requirement already satisfied: joblib>=0.11 in c:\users\dell\miniconda3\lib\site-packages (from scikit-learn->fastai2) (0.14.1)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.0 in c:\users\dell\miniconda3\lib\site-packages (from spacy->fastai2) (3.0.1)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in c:\users\dell\miniconda3\lib\site-packages (from spacy->fastai2) (0.8.2)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\dell\miniconda3\lib\site-packages (from spacy->fastai2) (3.0.5)
Requirement already satisfied: thinc<8.1.0,>=8.0.2 in c:\users\dell\miniconda3\lib\site-packages (from spacy->fastai2) (8.0.2)
Requirement already satisfied: srsly<3.0.0,>=2.4.0 in c:\users\dell\miniconda3\lib\site-packages (from spacy->fastai2) (2.4.0)
Requirement already satisfied: typer<0.4.0,>=0.3.0 in c:\users\dell\miniconda3\lib\site-packages (from spacy->fastai2) (0.3.2)
Requirement already satisfied: jinja2 in c:\users\dell\miniconda3\lib\site-packages (from spacy->fastai2) (2.11.2)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in c:\users\dell\miniconda3\lib\site-packages (from spacy->fastai2) (0.7.4)
Requirement already satisfied: pydantic<1.8.0,>=1.7.1 in c:\users\dell\miniconda3\lib\site-packages (from spacy->fastai2) (1.7.3)
Requirement already satisfied: importlib-metadata>=0.20 in c:\users\dell\miniconda3\lib\site-packages (from spacy->fastai2) (2.0.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\dell\miniconda3\lib\site-packages (from spacy->fastai2) (1.0.5)
Requirement already satisfied: catalogue<2.1.0,>=2.0.1 in c:\users\dell\miniconda3\lib\site-packages (from spacy->fastai2) (2.0.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\dell\miniconda3\lib\site-packages (from spacy->fastai2) (4.46.0)
Requirement already satisfied: setuptools in c:\users\dell\miniconda3\lib\site-packages (from spacy->fastai2) (51.1.2.post20210112)
Requirement already satisfied: pathy>=0.3.5 in c:\users\dell\miniconda3\lib\site-packages (from spacy->fastai2) (0.4.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\dell\miniconda3\lib\site-packages (from spacy->fastai2) (2.0.5)
Requirement already satisfied: zipp>=0.5 in c:\users\dell\miniconda3\lib\site-packages (from importlib-metadata>=0.20->spacy->fastai2) (3.1.0)
Requirement already satisfied: smart-open<4.0.0,>=2.2.0 in c:\users\dell\miniconda3\lib\site-packages (from pathy>=0.3.5->spacy->fastai2) (3.0.0)
Requirement already satisfied: contextvars<3,>=2.4 in c:\users\dell\miniconda3\lib\site-packages (from thinc<8.1.0,>=8.0.2->spacy->fastai2) (2.4)
Requirement already satisfied: immutables>=0.9 in c:\users\dell\miniconda3\lib\site-packages (from contextvars<3,>=2.4->thinc<8.1.0,>=8.0.2->spacy->fastai2) (0.15)
Requirement already satisfied: click<7.2.0,>=7.1.1 in c:\users\dell\miniconda3\lib\site-packages (from typer<0.4.0,>=0.3.0->spacy->fastai2) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\dell\miniconda3\lib\site-packages (from jinja2->spacy->fastai2) (1.1.1)

In [2]:
!pip install fastcore==0.1.35

Requirement already satisfied: fastcore==0.1.35 in c:\users\dell\miniconda3\lib\site-packages (0.1.35)
Requirement already satisfied: dataclasses in c:\users\dell\miniconda3\lib\site-packages (from fastcore==0.1.35) (0.8)
Requirement already satisfied: pip in c:\users\dell\miniconda3\lib\site-packages (from fastcore==0.1.35) (20.3.3)
Requirement already satisfied: packaging in c:\users\dell\miniconda3\lib\site-packages (from fastcore==0.1.35) (20.4)
Requirement already satisfied: numpy in c:\users\dell\miniconda3\lib\site-packages (from fastcore==0.1.35) (1.19.5)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\dell\miniconda3\lib\site-packages (from packaging->fastcore==0.1.35) (2.4.7)
Requirement already satisfied: six in c:\users\dell\miniconda3\lib\site-packages (from packaging->fastcore==0.1.35) (1.15.0)

In [3]:
import fastcore
fastcore.__version__

'0.1.35'

In [4]:
from fastai2.tabular.all import *

In [5]:
f_test= pd.read_csv(r"C:\Users\dell\Desktop\test.csv")
f_train= pd.read_csv(r"C:\Users\dell\Desktop\train.csv")
f_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,WikiId,Name_wiki,Age_wiki,Hometown,Boarded,Destination,Lifeboat,Body,Class
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,S,691.0,"Braund, Mr. Owen Harris",22.0,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada",NaN,NaN,3.0
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,...,C,90.0,"Cumings, Mrs. Florence Briggs (née Thayer)",35.0,"New York, New York, US",Cherbourg,"New York, New York, US",4,NaN,1.0
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,S,865.0,"Heikkinen, Miss Laina",26.0,"Jyväskylä, Finland",Southampton,New York City,14?,NaN,3.0
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,S,127.0,"Futrelle, Mrs. Lily May (née Peel)",35.0,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US",D,NaN,1.0
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,S,627.0,"Allen, Mr. William Henry",35.0,"Birmingham, West Midlands, England",Southampton,New York City,NaN,NaN,3.0

# Preprocessing train Data

In [6]:
f_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,WikiId,Age_wiki,Class
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,889.000000,887.000000,889.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,665.466817,29.322063,2.307087
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,380.796997,13.930089,0.837713
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,1.000000,0.420000,1.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,336.000000,20.000000,2.000000
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,672.000000,28.000000,3.000000
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,996.000000,38.000000,3.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1314.000000,74.000000,3.000000

In [7]:
f_train.isnull().sum().sort_index()/len(df_train)

NameError: name 'df_train' is not defined

In [ ]:
f_train.dtypes
g_train =f_train.columns.to_series().groupby(f_train.dtypes).groups
g_train

In [ ]:
cat_names= [
        'Name', 'Sex', 'Ticket', 'Cabin', 
        'Embarked', 'Name_wiki', 'Hometown', 
        'Boarded', 'Destination', 'Lifeboat', 
        'Body'
]

cont_names = [ 
    'PassengerId', 'Pclass', 'SibSp', 'Parch', 
    'Age', 'Fare', 'WikiId', 'Age_wiki','Class'
 ]

In [ ]:
splits = RandomSplitter(valid_pct=0.2)(range_of(f_train))

to = TabularPandas(f_train, procs=[Categorify, FillMissing,Normalize],
                   cat_names = cat_names,
                   cont_names = cont_names,
                   y_names='Survived',
                   splits=splits)

In [ ]:
#f_train.dtypes
g_train =to.train.xs.columns.to_series().groupby(to.train.xs.dtypes).groups
g_train

In [ ]:
to.train.xs.Age_na.head()

In [ ]:
to.train

In [ ]:
to.train.xs

In [ ]:
to.train.ys.values.ravel()

In [ ]:
from sklearn.ensemble import RandomForestClassifier

X_train, y_train = to.train.xs, to.train.ys.values.ravel()
X_valid, y_valid = to.valid.xs, to.valid.ys.values.ravel()

In [ ]:
X_train.head()

In [ ]:
rnf_classifier= RandomForestClassifier(n_estimators=100, n_jobs=-1)
rnf_classifier.fit(X_train,y_train)

In [ ]:
y_pred=rnf_classifier.predict(X_valid)


from sklearn.metrics import accuracy_score

accuracy_score(y_pred, y_valid)

# Preprocessing for test Data

In [ ]:
f_test.head()

In [ ]:
f_test.dtypes
g_train =f_test.columns.to_series().groupby(f_test.dtypes).groups
g_train

In [ ]:
cat_names= [
        'Name', 'Sex', 'Ticket', 'Cabin', 
        'Embarked', 'Name_wiki', 'Hometown', 
        'Boarded', 'Destination', 'Lifeboat', 
        'Body'
]

cont_names = [ 
    'PassengerId', 'Pclass', 'SibSp', 'Parch', 
    'Age', 'Fare', 'WikiId', 'Age_wiki','Class'
 ]

In [ ]:
test = TabularPandas(f_test, procs=[Categorify, FillMissing,Normalize],
                   cat_names = cat_names,
                   cont_names = cont_names,
                   )

In [ ]:
X_test= test.train.xs

In [ ]:
X_test.head()

In [ ]:
X_test.dtypes
g_train =X_test.columns.to_series().groupby(X_test.dtypes).groups
g_train

In [ ]:
X_test= X_test.drop('Fare_na', axis=1)
y_pred=rnf_classifier.predict(X_test)
y_pred= y_pred.astype(int)

# Output

In [ ]:
output= pd.DataFrame({'PassengerId':f_test.PassengerId, 'Survived': y_pred})
output.to_csv('my_titanic.csv', index=False)
output.head()